extends layouts/main-layout.pug
block content
  if !profileUser
    span.errorMessage Check the url you are trying to access
  else 
    script.
      const userLoggedInJs = '!{userLoggedIn.following}'
      const profileUserId = '!{profileUser._id}'
      const isMessage = '!{isMessage}' || 1
    .profileHeaderContainer 
      .coverPhotoContainer 
        .userImageContainer 
          img(src=profileUser.profilePic, alt="User Profile Image")
      .profileButtonsContainer
        if profileUser._id != userLoggedIn._id
          a.profileButton(href=`/message/${profileUser._id}`)
            i.fa.fa-envelope
          +createFollowButton(profileUser, userLoggedInJs != null)
      .userDetailsContainer 
        span.displayName #{profileUser.name}
        span.username @#{profileUser.username}
        span.description #{profileUser.description}
        .followersContainer 
          a(href=`/profile/${profileUser.username}/following`) 
            span.value #{0}
            span 关注
          a(href=`/profile/${profileUser.username}/follows`) 
            span.value #{0}
            span 粉丝
    .tabsContainer 
      +createTab("消息", `/profile/${profileUser.username}`, isMessage == 1 || true)
      +createTab("评论", `/profile/${profileUser.username}/replies`, isMessage == 0)
    .postsContainer
    +createPostModals(userLoggedIn)
block scripts
  script(src="/js/profile.js")
