mixin createPostForm(userLoggedIn) 
  .postFormContainer
    .userImageContainer 
      img(src=userLoggedIn.profilePic, alt="users's profile pictrue")
    .textareaContainer 
      textarea#postTextarea(placeholder="what's happening?")
      .buttonContainer 
      button#submitPostButton(disabled="") 发布

mixin createReplyModel(userLoggedIn) 
  #replyModal.modal.fade(tabindex='-1', aria-labelledby='replyModal', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h5#replyModal.modal-title 消息回复
          button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
        .modal-body
          #originalPostContainer
          .postFormContainer
            .userImageContainer 
              img(src=userLoggedIn.profilePic, alt="users's profile pictrue")
            .textareaContainer 
              textarea#replyTextarea(placeholder="what's happening?")
        .modal-footer
          button.btn.btn-secondary(type='button', data-bs-dismiss='modal') 关闭
          button#submitReplyButton.btn.btn-primary(type='button' disabled="") 回复

mixin createDeletePostModel() 
  #deletePostModal.modal.fade(tabindex='-1', aria-labelledby='deletePostModal', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h5#deletePostModal.modal-title 消息刪除
          button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
        .modal-body
          p 確定刪除該條消息麽？
        .modal-footer
          button.btn.btn-secondary(type='button', data-bs-dismiss='modal') 关闭
          button#deletePostButton.btn.btn-primary(type='button') 刪除

mixin createPostModals(userLoggedIn)
  +createReplyModel(userLoggedIn)
  +createDeletePostModel()

mixin createFollowButton(user, isFollow)
   - text = isFollow ? "已关注" : "关注";
   - buttonClass = isFollow ? "followButton following" : "followButton"
   button(class=buttonClass, data-user=user._id) #{text}